.DS_Store
report.*.json
.editorconfig

# Editors
.idea/*
.vscode/*
*.iml

# App
lib/
node_modules

# Test
junit.xml
/coverage

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
